<%= form_for @player do |f| %>
  <%= render partial: 'shared/errors', object: @player, locals: { model: "player" } %>

  <fieldset>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </fieldset>
  <div>
    <%= f.submit %>
  </div>
<% end %>
