<%= form_for @match do |f| %>
  <%= render partial: 'shared/errors', object: @match, locals: { model: "match" } %>

  <label>Players: </label>
  <%= f.collection_select(:player1_id, Player.all, :id, :name, {
    :include_blank => true,
    :selected => @player_id
  }) %>
  vs.
  <%= f.collection_select(:player2_id, Player.all, :id, :name, {:include_blank => true}) %>

  <% @match.games.each_with_index do |game, index| %>
    <%= f.fields_for :games, game do |game_field| %>
      <div>
        <%= game_field.label :player1_score, "Game #{index + 1} Score" %>
        <%= game_field.text_field :player1_score %>
        <%= game_field.text_field :player2_score %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
